.pageTitle { display: none; }

@media (max-width: 500px) {
  .modal-dialog { width: 100vw;margin-top: 10vh;  }
}
@media (min-width: 980px) {
  /*-----*/
  .custom-bar-chart {
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {

  .mail-box .sm-side {
    width: 30%;
  }

  .mail-box .lg-side {
    width: 70%;
  }
  /*-----*/
  .custom-bar-chart {
    margin-bottom: 40px;
  }

}

@media (max-width: 1160px) {
  .wrapper {
    margin-top: 0;
  }
  .header:not(th) {
    position: fixed;
    top: 0;
  }

  /*sidebar*/

  #sidebar {
    height: auto;
    overflow: hidden;
    width: 100%;
    padding-top:55px;
    position: static;
    z-index: 9999;
  }
  ul.sidebar-menu {
    margin-top: 10px !important;
  }

  /* body container */
  #main-content {
    margin: 0;
    position: unset !important;
  }

  #sidebar > ul > li > a > span {
    line-height: 35px;
  }

  #sidebar > ul > li {
    margin: 0 10px 5px 10px;
  }
  #sidebar > ul > li > a {
    height:35px;
    line-height:35px;
    padding: 0 10px;
    text-align: left;
  }
  #sidebar > ul > li > a i{
    /*display: none !important;*/
  }

  .mail-info, .mail-info:hover {
    display: none !important;
  }
  #sidebar ul > li > a .arrow, #sidebar > ul > li > a .arrow.open {
    margin-right: 10px;
    margin-top: 15px;
  }

  #sidebar ul > li.active > a .arrow, #sidebar ul > li > a:hover .arrow, #sidebar ul > li > a:focus .arrow,
  #sidebar > ul > li.active > a .arrow.open, #sidebar > ul > li > a:hover .arrow.open, #sidebar > ul > li > a:focus .arrow.open{
    margin-top: 15px;
  }

  #sidebar > ul > li > a, #sidebar > ul > li > ul.sub > li {
    width: 100%;
  }
  #sidebar > ul > li > ul.sub > li > a {
    background: transparent !important ;
  }
  #sidebar > ul > li > ul.sub > li > a:hover {
    /*background: #4A8BC2 !important ;*/
  }


  /* sidebar */
  /*#sidebar {
      margin: 0px !important;
  }*/

  /* sidebar collabler */
  #sidebar .btn-navbar.collapsed .arrow {
    display: none;
  }

  #sidebar .btn-navbar .arrow {
    position: absolute;
    right: 35px;
    width: 0;
    height: 0;
    top:48px;
    border-bottom: 15px solid #282e36;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
  }


  /*---------*/

  .btn {
    /*margin-bottom: 5px;*/
  }


  .mail-box aside {
    display: block;
  }

  .mail-box .sm-side , .mail-box .lg-side{
    width: 100% ;
  }

  /* full calendar fix */
  .fc-header-right {
    left:25px;
    position: absolute;
  }

  .fc-header-left .fc-button {
    margin: 0px !important;
    top: -10px !important;
  }

  .fc-header-right .fc-button {
    margin: 0px !important;
    top: -50px !important;
  }

  .fc-state-active, .fc-state-active .fc-button-inner, .fc-state-hover, .fc-state-hover .fc-button-inner {
    background: none !important;
    color: #FFFFFF !important;
  }

  .fc-state-default, .fc-state-default .fc-button-inner {
    background: none !important;
  }

  .fc-button {
    border: none !important;
    margin-right: 2px;
  }

  .fc-view {
    top: 0px !important;
  }

  .fc-button .fc-button-inner {
    margin: 0px !important;
    padding: 2px !important;
    border: none !important;
    margin-right: 2px !important;
    background-color: #fafafa !important;
    background-image: -moz-linear-gradient(top, #fafafa, #efefef) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#efefef)) !important;
    background-image: -webkit-linear-gradient(top, #fafafa, #efefef) !important;
    background-image: -o-linear-gradient(top, #fafafa, #efefef) !important;
    background-image: linear-gradient(to bottom, #fafafa, #efefef) !important;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0) !important;
    -webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, .8) !important;
    -moz-box-shadow: 0 1px 0px rgba(255, 255, 255, .8) !important;
    box-shadow: 0 1px 0px rgba(255, 255, 255, .8) !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
    color: #646464 !important;
    border: 1px solid #ddd !important;
    text-shadow: 0 1px 0px rgba(255, 255, 255, .6) !important;
    text-align: center;
  }

  .fc-button.fc-state-disabled .fc-button-inner {
    color: #bcbbbb !important;
  }

  .fc-button.fc-state-active .fc-button-inner {
    background-color: #e5e4e4 !important;
    background-image: -moz-linear-gradient(top, #e5e4e4, #dddcdc) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e5e4e4), to(#dddcdc)) !important;
    background-image: -webkit-linear-gradient(top, #e5e4e4, #dddcdc) !important;
    background-image: -o-linear-gradient(top, #e5e4e4, #dddcdc) !important;
    background-image: linear-gradient(to bottom, #e5e4e4, #dddcdc) !important;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#e5e4e4', endColorstr='#dddcdc', GradientType=0) !important;
  }

  .fc-content {
    margin-top: 50px;
  }

  .fc-header-title h2 {
    line-height: 40px !important;
    font-size: 12px !important;
  }

  .fc-header {
    margin-bottom:0px !important;
  }

  /*--*/

  /*.chart-position {*/
  /*margin-top: 0px;*/
  /*}*/

  .timeline-desk .album a {
    margin-bottom: 5px;
    margin-right: 4px;
  }

  .stepy-titles li {
    margin: 10px 3px;
  }

  .mail-option .btn {
    margin-bottom: 0;
  }

  .boxed-page .container #sidebar {
    position:absolute;
  }

  /*--horizontal menu--*/
  .full-width .navbar-toggle {
    border: 1px solid #eaeaea;
  }
  .full-width .navbar-toggle .icon-bar {
    background: #c7c7c7;
  }

  .full-width .navbar-toggle {
    float: left;
    margin-top: 12px;
  }

  .horizontal-menu {
    float: left;
    margin-left:0px;
    width: 70%;
    margin-top: 10px;
  }

  .top-nav {
    position: absolute;
    right: 10px;
    top: 0px;
  }

  .horizontal-menu .navbar-nav > li > a {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  /*-----*/
  .custom-bar-chart {
    margin-bottom: 40px;
  }

  /*menu icon plus minus*/
  .dcjq-icon {
    top: 10px;
  }
  ul.sidebar-menu li ul.sub li { margin-bottom: 1px; }
  ul.sidebar-menu li ul.sub li a {
    padding: 0;
  }

  /*---*/

  .img-responsive {
    width: 100%;
  }

  .pageTitle {
    margin-top: 0;
    margin-bottom: 15px;
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
}



@media (max-width: 480px) {

  .search, .dont-show , .inbox-head .sr-input, .inbox-head .sr-btn{
    display: none;
  }

  .mail-box aside {
    display: block;
  }

  .mail-box .sm-side , .mail-box .lg-side{
    width: 100% ;
  }

  #top_menu .nav > li, ul.top-menu > li {
    float: right;
  }
  .hidden-phone {
    display: none !important;
  }

  .dataTables_filter {
    float: left;
  }

  .dataTables_info {
    margin-bottom: 10px;
  }

  .mail-option .btn {
    margin-bottom: 0;
  }

  .mail-option .inbox-pagination {
    margin-top: 10px;
    float: left;
  }

  .chart-position {
    margin-top: 0px;
  }
  /*--horizontal menu--*/
  .full-width .navbar-toggle {
    border: 1px solid #eaeaea;
  }
  .full-width .navbar-toggle .icon-bar {
    background: #c7c7c7;
  }

  .full-width .navbar-toggle {
    float: left;
    margin-top: 12px;
  }

  .horizontal-menu {
    float: left;
    margin-left:0px;
    width: 100%;
  }

  .top-nav {
    position: absolute;
    right: 10px;
    top: 0px;
  }

  .horizontal-menu .navbar-nav > li > a {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .ms-container {
    width: 100%;
  }
}
@media (max-width:440px) {
  .w-183px-media{
    width: 183px !important;
  }
}
@media (max-width:320px) {
  .login-social-link a {
    padding: 15px 17px !important;
  }

  .search, .dont-show, .inbox-head .sr-input, .inbox-head .sr-btn {
    display: none;
  }

  .mail-box aside {
    display: block ;
  }

  .mail-box .sm-side , .mail-box .lg-side{
    width: 100% ;
  }

  #top_menu .nav > li, ul.top-menu > li {
    float: right;
  }

  .hidden-phone {
    display: none !important;
  }

  .dataTables_filter {
    float: left;
  }

  .dataTables_info {
    margin-bottom: 10px;
  }

  .mail-option .btn {
    margin-bottom: 0;
  }

  .mail-option .inbox-pagination {
    margin-top: 10px;
    float: left;
  }

  .chart-position {
    margin-top: 0px;
  }

  .lock-wrapper {
    margin: 10% auto;
    max-width: 310px;
  }

  .lock-input {
    width: 82%;
  }
}


/* TABLE RESPONSIVE */


/*Unseen Column*/
@media only screen and (max-width: 800px) {
  #unseen table td:nth-child(2),
  #unseen table th:nth-child(2) {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  #unseen table td:nth-child(4),
  #unseen table th:nth-child(4),
  #unseen table td:nth-child(7),
  #unseen table th:nth-child(7),
  #unseen table td:nth-child(8),
  #unseen table th:nth-child(8) {
    display: none;
  }
}

/*flip-scroll*/

@media only screen and (max-width: 800px) {
  #flip-scroll .cf:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

  #flip-scroll * html .cf {
    zoom: 1;
  }

  #flip-scroll *:first-child + html .cf {
    zoom: 1;
  }

  #flip-scroll table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }

  #flip-scroll th,
  #flip-scroll td {
    margin: 0;
    vertical-align: top;
  }

  #flip-scroll th {
    text-align: left;
  }

  #flip-scroll table {
    display: block;
    position: relative;
    width: 100%;
  }

  #flip-scroll thead {
    display: block;
    float: left;
  }

  #flip-scroll tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
  }

  #flip-scroll thead tr {
    display: block;
  }

  #flip-scroll th {
    display: block;
    text-align: right;
  }

  #flip-scroll tbody tr {
    display: inline-block;
    vertical-align: top;
  }

  #flip-scroll td {
    display: block;
    min-height: 1.25em;
    text-align: left;
  }


  /* sort out borders */
  #flip-scroll th {
    border-bottom: 0;
    border-left: 0;
  }

  #flip-scroll td {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }

  #flip-scroll tbody tr {
    border-left: 1px solid #babcbf;
  }

  #flip-scroll th:last-child,
  #flip-scroll td:last-child {
    border-bottom: 1px solid #babcbf;
  }
}

/*no more table*/

@media only screen and (max-width: 800px) {
  /* Force table to not be like tables anymore */
  #no-more-tables table,
  #no-more-tables thead,
  #no-more-tables tbody,
  #no-more-tables th,
  #no-more-tables td,
  #no-more-tables tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #no-more-tables tr {
    border: 1px solid #ccc;
  }

  #no-more-tables td {
    /* Behave like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }

  #no-more-tables td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }

  /*
  Label the data
  */
  #no-more-tables td:before {
    content: attr(data-title);
  }
}

@media (max-width: 1160px) {
  #main-content { padding-top: 60px; }
  #container.sidebar-closed #sidebar {
    right: 100vw;
  }
  #sidebar {
    width: 100vw;
    height: calc(100vh - 56px);
    margin: 0 !important;
    padding-top: 0;
    position: fixed;
    top: 56px;
    right: 0;
  }
  #sidebar > ul > li > a {
    height: 52px;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }
  #sidebar > ul > li ul > li > a {
    min-height: 45px;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }
}

@media (max-width: 1280px) {
  .mobile-filter-button{
    display: block;
  }
}
